
#container{
        width: 60%;
        /* margin: 0 auto; */
       padding-left: 4%;
       float: left;
       padding-right: 1%;
        
     }
     #container2{
           width: 35%;
    /* margin: 0 auto; */
    padding-left: 3%;
    float: left;
    border-left: solid 1px #cccccc;
        
     }
     .butn-cont{
        padding-top: 54px;
     }

#back-top span {
	border-radius:50%;
	-moz-transition:1s;
	display:block;
	position:fixed;
	bottom:76px;
	right:30px;
	text-align:center;
	font-size:16px;
	line-height:47px;
	height:50px;
	width:50px;
	z-index:100;
	-webkit-transition:background-color 0.25s ease-out;
	transition:background-color 0.25s ease-out;
	color:rgba(255,255,255,0.95);
	background-color:rgba(0,0,0,0.15);
}
#back-top a:hover span {
	background-color:#00cfef;
}
#back-top a {
		display:block;
	text-align:center;
	font:11px/100% Arial,Helvetica,sans-serif;
	text-transform:uppercase;
	text-decoration:none;
	color:#666;
	-webkit-transition:1s;
	-moz-transition:1s;
	transition:1s;
}
#back-top a:hover {
	color:#999;
}
.or-spacer {
	margin:0px auto;
	width:100%;
	position:relative;
	margin-top:50px;
	margin-bottom:50px;
}
.or-spacer .mask {
	overflow:hidden;
	height:1px;
}
.or-spacer .mask:after {
	content:'';
	display:block;
	margin:-0px auto 0;
	width:100%;
	height:1px;
	background-color:#ddd;
}
.or-spacer span {
	width:50px;
	height:50px;
	position:absolute;
	bottom:100%;
	margin-bottom:-25px;
	left:50%;
	margin-left:-25px;
	border-radius:100%;
	background:white;
}
.or-spacer span i {
	position:absolute;
	top:4px;
	bottom:4px;
	left:4px;
	right:4px;
	border-radius:100%;
	border:1px dashed #aaa;
	text-align:center;
	line-height:40px;
	font-style:normal;
	color: #999;
}

/*==============================================* CUSTOM *===============================================*/
body {
		font-family: "Open Sans";
	}
	body {
		color: ;
		font-weight:400;
		font-size: 13px;
	}
	.nav.navbar-nav {
		font-family: "Open Sans";
	}
	.navbar-default .navbar-nav>li>a {
		color: ;
		font-weight:600;
	}
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .single-project-slider .flex-caption,a.porto-title-caption {
		font-family: "Open Sans";
	}
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .service-box-1 .icon-custom-style {
		color: ;
		font-weight:700;
	}
	h2.widget-title, h2.widgettitle, .footer-widget-area h3.widget_title {
		font-weight:700;}
	.title-area h2.title, .title-area h1.title, h2.entry-title.excerpt, h1.entry-title, h2.header3{
		font-weight:900;
		color: ;
	}
	.navbar-default .navbar-brand { font-family:ABeeZee;}
	.navbar-default .navbar-brand {
			font-weight:600;
			color: #ff6600;
			font-size: 32px;
	}
	.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
		font-size:36px;
	}


@media only screen and (min-width: 768px) {

.navbar-default { opacity: 1.0;}

}

/*==============================================* RESPONSIVE*===============================================*/
@media only screen and (max-width:1220px) {
	.isoportfolio .item {width:33.33333333%;}
	.navbar-nav {margin-right: 0;}
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {margin-left: 0;}
	.nav>li>a {padding: 10px 10px;}
	#content .rotatingtweets, #content .norotatingtweets, #content p.rtw_main, p.rtw_main, div.rtw_main, div.rotatingtweet p, div.rotatingtweet  {width:100% !Important;max-width:100% !important;}
	#content .rotatingtweet {padding-left:0;padding-right:0;}
}

@media only screen and (min-width:800px) and (max-width:991px) {
	.thumbnail {margin-bottom:20px;}
	.bottom-widget {margin-top:20px;width:25%;float:left;}
	.col-md-1 {width: 8.33333333%;float:left;}
	.col-md-2 {width: 16.66666667%;float:left;}
	.col-md-3 {width:25%;float:left;}
	.col-md-4 {width:33.33333333%;float:left;}
	.col-md-5 {width: 41.66666667%;float:left;}
	.col-md-6 {width:50%;float:left;}
	.col-md-7 {width:58.33333333%;float:left;}
	.col-md-8 {width: 66.66666667%;float:left;}
	.col-md-9 {width:75%;float:left;}
	.col-md-10 {width:83.33333333%;float:left;}
	.col-md-11{width:91.66666667%;float:left;}
	.col-md-12{width:100%;}
}

@media only screen and (max-width: 991px) {

}

@media only screen and (max-width:991px) {
	.wskill li:last-child {margin-bottom: 20px;}
	.service-box.text-right, .service-box.text-left {text-align:center;}
	.service-box-1.pull-right, .service-box-1.pull-left {float:none !important;}
	.table-bordered {margin-top:20px;}
	h2.header3 {margin-top:20px;}
	.funfacts {margin-top:20px;}
}

@media only screen and (max-width:920px) {
	.isoportfolio .item {width:50%;}
}
@media only screen and (max-width:620px) {
	.isoportfolio .item {width:100%;}
	.isoportfolio .item img {height:auto;}
}

@media only screen and (max-width:767px) {
	body {padding-top: 50px;}
	.navbar-default .navbar-collapse {width: 100%;}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {border:0px;}
	.navbar-default .navbar-collapse {padding-bottom:20px;}
	.navbar-default .navbar-nav>li>a {border-bottom: 1px solid #ddd;}
	.navbar-default .navbar-toggle .icon-bar {background-color: #fff;}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-toggle{background-color:#333;border:0px;}
	.navbar-brand {margin-top: -7px;}
	ul.sub-menu li {border-bottom:1px solid #ddd;padding:10px 0;}
	ul.sub-menu {list-style: disc;padding-left: 20px;list-style:inside;}
	.navbar-nav ul.sub-menu li.menu-item-has-children ul.sub-menu li {border-bottom:0px; border-top:1px solid #ddd;}
	.navbar-nav ul.sub-menu li.menu-item-has-children ul.sub-menu {padding-top:15px;margin-bottom:-10px;}
	.navbar-fixed-top {position:relative;}
	.navbar-default {width:100%;max-width:100%;}
	.navbar {margin-bottom:0;}
	body.admin-bar .navbar-default {margin-top: 0;}
	body {padding-top:0px;}

}

@media only screen and (max-width:799px) {
	.wowanimslider h1, .boldheaderarea h2 {font-size: 28px;line-height:33px;padding-left:30px;padding-right:30px;}
	.wowanimslider h6 {font-size: 16px;line-height:18px;padding-left:30px;padding-right:30px;}
	.boldheaderarea .text1 {font-size: 16px;line-height:18px;padding-left:30px;padding-right:30px;margin-top:20px;}
	.wow {
	  visibility: visible !important;
	  -webkit-animation: none !important;
		 -moz-animation: none !important;
		   -o-animation: none !important;
		  -ms-animation: none !important;
			  animation: none !important;
	}
	.block2 .text2, .wolf-bigtweet-content span.wolf-tweet-text {font-size:20px;line-height:25px;}
	.block2 .text1 {font-size:15px;}
	.title-area {max-width:100%;}
	.max80 {max-width:100%;}
	.title-area .subtitle {font-size:13px; line-height:16px;}
	.thumbnail {margin-bottom:20px;}
	.wow-pricing-table { margin-bottom:20px;}
	.bottom-widget {margin-top:30px; }
	.footer-widget-area h3.widget_title {margin-bottom:5px;}
	.footer-widget-area {padding: 0px 0 30px;}

	#content p.rtw_main, p.rtw_main, div.rtw_main, p.rtw_meta, .wowshtestim .content {font-size:13px;}
	.twittericonsh { font-size:30px;}
}

@media only screen and (max-width:600px) {
.videowrap .videocontent, .videowrapsh .videocontent {height: 100%;}
.owl-carousel {display: block !important;opacity: 1 !Important;}
}

.footer-logo {
	color:#f86d18;
	font-size: 24px;
	vertical-align: middle;
}

.helper {
	display: inline-block;
	height: 100%;
	vertical-align: top;
}

.logo-container {
    height: 70px;      /* equals max image height */
    width: 260px;
    white-space: nowrap;
    text-align: center;
}

.header-logo {
    vertical-align: middle;
    max-height: 40px;
    max-width: 260px;
}

.navbar-logo-text {
	font-size: 24px;
}

.article a {
	text-decoration: none;
	/*border-bottom:1px dotted;*/
	border-color: #ff6600;
	color: #ff6600;
}

.article a:hover {
	border-bottom: 1px dotted;
}

#consoleLog {
	border: solid 1px #999999;
	border-top-color: #CCCCCC;
	border-left-color: #CCCCCC;
	padding: 5px;
  width: 100%;
	height: 172px;
	overflow-y: scroll;
}

#consoleLog p {
  font-size: 11px;
	line-height: 150%;
}

#webSocketSupp {
	display: none;
	border: 2px solid #060;
	background-color: #F0FFF0;
	margin: 20px;
	margin-top: 5px;
	padding: 10px;
	font-size: 16px;
	color: #0d8900;
}

#webSocketSupp p {
	font-size: 16px;
	color: #0d8900;
}

#noWebSocketSupp {
	display: none;
	border: 2px solid #cb0000;
	background-color: #FFE1E1;
	margin: 20px;
	margin-top: 5px;
	padding: 10px;
	font-size: 16px;
	color: #800000;
}

#noWebSocketSupp p {
	font-size: 16px;
	line-height: 125%;
	color: #800000;
	margin-top: 10px;
}
#noWebSocketSupp p:first-child {
	margin-top: 0px;
}

#echo {

}

#echo button {
	margin-top: 5px;
}

.draw-border {
	border:1px solid #ccc;
}

figcaption {
	font-weight: 700;
	padding-top: 10px;
	padding-bottom: 20px;
}

.echo-button {
	background-color: #eee;
	/*color: #f60;*/
	vertical-align:baseline;
	font-size:100%;
	font-weight: 700;
	border-color: #ccc;
	border-width: 1px;
	border-style: solid !important;
}

.echo-button:hover {
	color: #f60;
	border-color: #f60;
	border-width: 1px;
	border-style: solid !important;
}

.echo-checkbox {
	-webkit-appearance: checkbox !important;
	color: green;
}

.echo-checkbox:hover {
	outline:5px !important;
	-webkit-appearance:checkbox !important;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	outline:1px;
}

.github-info {
		padding: 10px;
		background-color:#eee;
		border-color: #ccc;
		margin-bottom: 0;
}

.github-info a {
	color:#f47d31;
}

.github-image {
	margin-right: 20px;
	vertical-align: middle;
}

.orange {
	color:#f47d31;
}

.space {
	padding-bottom: 40px;
}
